<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/links"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedLink.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteLink()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h5 padding>{{ loadedLink.url }}</h5>
  <ion-list>
    <ion-item *ngFor="let tag of loadedLink.tags">
      <ion-label>{{ tag }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
